<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/basic}">
<head>
	<meta charset="utf-8">
</head>

<body>

<th:block layout:fragment="title">
  <title>마이 페이지 MyPage</title>
</th:block>

<!-- <header th:replace="layout/basic :: header"></header> -->

<th:block layout:fragment="content">
	<div class="page_tits">
		<h3>마이페이지</h3>
		<p class="path">
			<strong>현재 위치 :</strong> <span>마이페이지</span> <span>비밀번호 확인</span>
		</p>
	</div>
	
	<div class="form-field">
		<div>	
			<form name="passwordCheck" action="user/UserMyPageChk.do" autocomplete="off" method="post">
				
				<h5>비밀번호 확인</h5>
					<input type="hidden" name="idx" th:value="${idx}">
					
					<input type="password" id="password" name="passowrd" placeholder="비밀번호" required></input>	
					<button type="button" id=click-confirm 
					class="btn btn-outline-primary mr-7" onclick=checkpassword() >비밀번호 확인</button>		
		
			</form>
		</div>
	</div>
 
	
</th:block>

<script>

	function checkPassword(){	
		var id = $('input[name=id]').val();
		var pwd = $('input[name=pwd]').val();
	
		$.ajax({
			type: 'get',
			url: '/user/mypage/getPassword',
			data : {id,pwd},
			success: function(result) {
				if(result.pwd == pwd){
					$('#submiBtn').attr('disabled',false);
				}
				else{
					alert("비밀번호가 일치하지않습니다");
				}
			}
			,
			error: function(result) {
			},
			complete: function() {
			}
		})
	}		
		
</script>
</body>
</html>