<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
  <title>마이 페이지 MyPage</title>
</th:block>

<!-- <header th:replace="layout/basic :: header"></header> -->

<th:block layout:fragment="content">
	<div class="page_tits">
		<h3>마이페이지</h3>
		<p class="path">
			<strong>현재 위치 :</strong> <span>마이페이지</span> <span>비밀번호 확인</span>
		</p>
	</div>
	
	<div class="content">
		<section>
			<form id="SaveForm" method="post" autocomplete="off">
								
			</form>
		</section>
	</div>
 
	
</th:block>

</html>