<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>상세 페이지</title>
</th:block>

<th:block layout:fragment="content">

				<h5>비밀번호 확인</h5>
				<form>			
					<input type="password" name="pwd" placeholder="비밀번호" class="form-control" id="inputPwd" required></input>
					<button class="button primary" onclick="signincomplete()">마이페이지 입장</button>
				</form>								
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/
    	
    function signincomplete(){
    		var inputPwd = Document.getElementById("inputPwd");
    		var sessionPwd = [[ ${userInfo.pwd} ]];
    		alert("입력 비밀번호 : "+inputPwd);
    		alert("세션에 입력된 비밀번호 : "+sessionPwd);
    }
    	
    	
    	
    	
 	/*]]>*/
  </script>
</th:block>   	


</html>