<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>게시판 관리</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>상세정보</span></p>
    </div>

    <div class="content">
        <section>
            <table class="tb tb_row">
                <colgroup>
                    <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">글 유형</th>
                        <td th:text="${post.notice == 0 ? '일반' : '공지'}"></td>

                        <th scope="row">등록일</th>
                        <td th:text="${#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm' )}"></td>
                    </tr>
                    <tr>
                        <th scope="row">제목</th>
                        <td>[[ ${post.title} ]]</td>

                        <th scope="row">추천</th>
                        <td colspan="3">추후 추천 추가예정</td>
                    </tr>
                    <tr>
                        <th scope="row">작성자</th>
                        <td colspan="3">[[ ${post.nickname} ]]</td>
                    </tr>
                    <tr>
                        <th scope="row">내용</th>
                        <td colspan="3">[[ ${post.content} ]]</td>
                    </tr>
                </tbody>
            </table>
            <p class="btn_set">
                <a th:href="@{/post/write.do( id=${post.id} )}" class="btns btn_bdr4 btn_mid">수정</a>
                <button type="button" onclick="deletePost();" class="btns btn_bdr1 btn_mid">삭제</button>
                <a href="#" onClick="history.back()" class="btns btn_bdr3 btn_mid">뒤로</a>
            </p>

		<div class="comment">
			<div class="box-content">
			<div class="card-content">
				<div class="clearfix">
					<h4 class="box-title pull-left">Comment</h4>
					<!-- /.box-title -->
				</div>

				<form class="form-horizontal form-view">
					<div class="input-group margin-bottom-20">
						<input type="text" id="content" class="form-control" />
						<div class="input-group-btn">
							<button  type="submit" class="btn waves-effect waves-light" th:onclick="insertComment([[ ${post.id} ]])">
							<i class="fa fa-commenting" aria-hidden="true"></i>
							</button>
						</div>
					</div>
					<ul class="notice-list"></ul>
				</form>
			</div>
			<!-- /.card-content -->
		</div>
		</div>
            
        </section>
    </div> <!--/* .content */-->
    <!-- 댓글부분  -->
    
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    $(function() {
		printCommentList();
		

	});
    
    
    
    document.getElementById("content").addEventListener('keydown', event => {
       /*  console.log(event.target.value); */
   //   console.log(event.code);
        if (event.code === 'Enter') {
 //       	insertComment([[ ${post.id} ]]);
        }
    });

    
    	
    function insertComment(boardId) {
//    	alert("insertComment 실행됨");
    	var content = document.getElementById("content");
//    	alert("content.value : "+content.value);
    	if (content.value == null || content.value=='') {	//비어있으면
//    		alert("if문안");
    		content.setAttribute("placeholder", "댓글을 입력해 주세요.");
    		content.focus();
    		return false;
    	}
    //  alert("uri가져오기전");
    	var uri = /*[[ @{/comments} ]]*/null;
    	var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
    	var params = {"boardId": boardId, "content": content.value, "writerNo": 1};
    	
    	alert(JSON.stringify(params));
    	
    	
//    	alert("아작스전");
    	$.ajax({
    		url: uri,
    		type: "POST",
    		headers: headers,
    		dataType: "json",
    		data: params,
			
    		success: function(response) {
    			if (response.result == false) {
    				alert("댓글 등록에 실패하였습니다.");
    				return false;
    			}

    			printCommentList();
    			content.value = "";
    		},
    		error: function(xhr, status, error) {
    			console.log("code:"+xhr.status+"\n"+"message:"+xhr.responseText+"\n"+"error:"+error);
    			alert("code:"+xhr.status+"\n"+"message:"+xhr.responseText+"\n"+"error:"+error);
    			return false;
    		}
    	});
    }
    
    			
    	function printCommentList() {

    		var uri = /*[[ @{/comments}+ '?boardId=' + ${post.id} ]]*/null;
   			$.get(uri, function(response) {
   				if (response!=null) {
   					var commentsHtml = "";
   					alert(JSON.stringify(response.commentList));
   					$(response.commentList).each(function(id, comment) {
   						alert("되냐?");
   						commentsHtml += `
   							<li>
   								<span class="nickname">${comment.nickname}</span>
   								<span class="desc">${comment.content}</span>
   								<span class="commentTime">${moment(comment.createdDate).format('YYYY-MM-DD HH:mm:ss')}</span>
   								<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
   							</li>
   						`;
   					});

   					$(".notice-list").html(commentsHtml);
   				}
   			}, "json");
   		}
    		/*[- end of function -]*/
    // 게시글 삭제
    function deletePost() {
      const id = [[ ${post.id} ]];
      const type = [[ ${post.type} ]];
      console.log(type);

      if ( !confirm(id + '번 게시글을 삭제할까요?') ) {
        return false;
      }

      const formHtml = `
          <form id="deleteForm" action="/post/delete.do" method="post">
              <input type="hidden" id="id" name="id" value="${id}" />
           	  <input type="hidden" id="type" name="type" value="${type}" />
          </form>
      `;
      const doc = new DOMParser().parseFromString(formHtml, 'text/html');
      const form = doc.body.firstChild;
      document.body.append(form);
      document.getElementById('deleteForm').submit();
    }


    /*]]>*/
  </script>
</th:block>


</html>