<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.study.domain.comment.CommentMapper">

	<sql id="commentColumns">
		  id
		, board_id
		, board_type
		, content
		, cdepth
		, group_no
		, corder
		, writer_no
		, created_date
		, modified_date
		, del_yn
		, del_date
		, secret
	</sql>

	<insert id="insertComment" parameterType="com.study.domain.comment.CommentDTO">
		INSERT INTO comment (
			<include refid="commentColumns" />
		) VALUES (
			  #{id}
			, #{boardId}
			, #{boardType}
			, #{content}
			, 0
			, 0
			, 0
			, #{writerNo}
			, NOW()
			, NULL
			, 0
			, NULL
			, 0
		)
	</insert>

	<select id="selectCommentDetail" parameterType="long" resultType="com.study.domain.comment.CommentDTO">
		SELECT
			a.id
		, a.board_id
		, a.board_type
		, a.content
		, a.cdepth
		, a.group_no
		, a.corder
		, a.writer_no
		, a.created_date
		, a.modified_date
		, a.del_yn
		, a.del_date
		, a.secret
		, b.nickname
		FROM
			comment as a
			, user as b
		WHERE
			a.del_yn = 0
		AND
			a.id = #{id}
	</select>

	<update id="updateComment" parameterType="com.study.domain.comment.CommentDTO">
		UPDATE comment
		SET
			  modified_date = NOW()
			, content = #{content}
		WHERE
			id = #{id}
	</update>

	<update id="deleteComment" parameterType="long">
		UPDATE comment
		SET
			  del_yn = 1
			, del_date = NOW()
		WHERE
			id = #{id}
	</update>

	<select id="selectCommentList" parameterType="com.study.domain.comment.CommentDTO" resultType="com.study.domain.comment.CommentDTO">
		SELECT
		a.id
		, a.board_id
		, a.board_type
		, a.content
		, a.cdepth
		, a.group_no
		, a.corder
		, a.writer_no
		, a.created_date
		, a.modified_date
		, a.del_yn
		, a.del_date
		, a.secret
		, b.nickname
		FROM
			comment as a
			, user as b
		WHERE
			a.del_yn = 0
		AND
			a.board_id = #{boardId}
		ORDER BY
			a.id DESC,
			a.created_date DESC
	</select>

	<select id="selectCommentTotalCount" parameterType="com.study.domain.comment.CommentDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			comment
		WHERE
			del_yn = 0
		AND
			board_id = #{boardId}
	</select>

</mapper>