<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.post.PostMapper">

    <!-- tb_post 테이블 전체 컬럼 -->
    <sql id="postColumns">
          id
        , type
        , title
        , content
        , writer_no
        , created_date
        , modified_date      
        , del_yn
        , del_date
        , notice
    </sql>


    <!-- 게시글 저장 -->
    <insert id="save" parameterType="com.study.domain.post.PostRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (
            <include refid="postColumns" />
        ) VALUES (
              #{id}
            , #{type}
            , #{title}
            , #{content}
            , #{writerNo}
            , NOW()
            , NULL
            , 0
            , NULL
            , 0
        )
    </insert>
	
	 <!-- 정보 게시글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="com.study.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            board as a
        WHERE
            id = #{value}
    </select>
	
    <!-- 정보 게시글 상세정보 조회 -->
    <select id="findByInfoTypeId" parameterType="long" resultType="com.study.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            board
        WHERE
            id = #{value} AND type = 0
    </select>
    
        <!-- 자유 게시글 상세정보 조회 -->
    <select id="findByFreeTypeId" parameterType="long" resultType="com.study.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            board
        WHERE
            id = #{value} AND type = 1
    </select>


    <!-- 게시글 수정 -->
    <update id="update" parameterType="com.study.domain.post.PostRequest">
        UPDATE board
        SET
              modified_date = NOW()
            , title = #{title}
            , content = #{content}
            , notice = #{notice}
        WHERE
            id = #{id}
    </update>


    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="long">
        UPDATE board
        SET
            del_yn = 1
          , del_date = NOW()
        WHERE
            id = #{id}
    </delete>

   <!-- 모든 게시글 리스트 조회 -->
    <select id="findAllPost" resultType="com.study.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            board
        WHERE
            del_yn = 0
        ORDER BY
            id DESC
    </select>

   <!-- 정보 게시글 리스트 조회 -->
    <select id="findInfoPost" resultType="com.study.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            board
        WHERE
            del_yn = 0 AND type = 0
        ORDER BY
            id DESC
    </select>
    
       <!-- 자유 게시글 리스트 조회 -->
    <select id="findFreePost" resultType="com.study.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            board
        WHERE
            del_yn = 0 AND type = 1
        ORDER BY
            id DESC
    </select>

</mapper>