<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.user.UserMapper">

<!-- tb_user 테이블 전체 컬럼 -->
<sql id="UserColumns">
	 user_no,
	 id,
	 user_name,
	 nickname,
	 email,
	 pwd,
	 pwd_hint,
	 pwd_hint_ans,
	 gender,
	 age,
	 signin_date,
	 experience,
	 del_yn,
	 del_date,
	 modified_date,
	 Administrator,
	 attendance_date,
	 now_login_time,
	 recent_login_time,
	 recent_logout_time
	
</sql>


<!-- 회원가입 정보 저장 -->
<insert id = "userSave" parameterType="com.study.domain.user.UserResponse" useGeneratedKeys="true" keyProperty="userNo">

	INSERT INTO user(
		<include refid="UserColumns"/>
	) VALUES (
		#{userNo},
		#{id},
		#{userName},
		#{nickname},
		#{email},
		#{pwd},
		#{pwdHint},
		#{pwdHintAns},
		#{gender},
		#{age},
		NOW(),
		0,
		0,
		NULL,
		NULL,
		0,
		0,
		NOW(),
		NOW(),
		NOW()	 
	)
</insert>

<!-- 마이 페이지 정보 수정 -->
<update id = "userupdate" parameterType="com.study.domain.user.UserRequest">
	UPDATE user
	SET
		modified_date=NOW(),
		
</update>





</mapper>